.main{
    background-color: yellow;
    color: red;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 3px 3px 3px grey;
}

.second:hover{
    background-color: purple;
    color: cyan;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    word-wrap: break-word;
}